@CHARSET "UTF-8";

/****** General ******/
body {
	font-family: "Arial";
}

p, li, ul {
	margin: 5px;
}

.indented {
	padding-left: 50pt;
}

/****** Tab bar ******/
.tab {
    overflow: hidden;
    border: 1px solid #bbb;
    background-color: #ccc;
    border-radius: 5px 5px 0px 0px;
}

.tab button {
	background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
    color: white;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #bbb;
}


/****** Tab content ******/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

#requirements-tab {
	color: dodgerblue;
	background-color: #d2e8ff;
}

#team-members-tab {
	color: orange;
	background-color: #ffedcc;
}

#test-cases-tab {
	color: mediumseagreen;
	background-color: #d8efe2;
}

#conflicts-tab {
	color: tomato;
	background-color: #ffdfda;
}

/****** Details ******/
details:hover {
	cursor: pointer;
}

details {
  width: 95%;
  border-radius: 5px;
  padding: 2px 6px;
  margin: 10px auto;
}

/****** Requirement details ******/
.req-details {
	background-color: #e8f3ff;
}

/****** Requirement information details ******/
.req-info-details summary {
	text-decoration: underline;
}

.req-info-details summary::-webkit-details-marker { 
	display: none;
}

.req-info-details summary:before {
	content: "show details";
}

.req-info-details[open] summary:before {
	content: "hide details";
}

/****** Progress bars ******/
.progressContainer {
	background-color: white;
    margin: 10px 20px;
}

.progressBar {
    width: 0;
    height: 30px;
    background-color: dodgerblue;
    text-align: center;
    line-height: 30px;
    color: white; 
}