<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Y3853992 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Y3853992.presentation.Y3853992ModelWizardID"
            name="%_UI_Y3853992ModelWizard_label"
            class="Y3853992.presentation.Y3853992ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Y3853992ModelFile.gif">
         <description>%_UI_Y3853992ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Y3853992 -->
      <editor
            id="Y3853992.presentation.Y3853992EditorID"
            name="%_UI_Y3853992Editor_label"
            icon="icons/full/obj16/Y3853992ModelFile.gif"
            extensions="y3853992"
            class="Y3853992.presentation.Y3853992Editor"
            contributorClass="Y3853992.presentation.Y3853992ActionBarContributor">
      </editor>
   </extension>

</plugin>
