<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Y3853992 -->
      <package
            uri="http://Y3853992"
            class="Y3853992.Y3853992Package"/>
   </extension>

</plugin>
